#home{
    background-image: url('images/hero-bg.jpg');
    background-position: center;
    background-size: cover;
}
.bg-fix{
    z-index: 1;
}
#home h2::after{
    content:"|";
    animation-name: typing; 
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes typing {
0%{content:"D|";}
2%{content: "De|";}
4%{content: "Dev|";}
6%{content: "Deve|";}
8%{content: "Devel|";}
10%{content: "Develo|";}
12%{content: "Develop|";}
14%{content: "Develope|";}
16%{content: "Developer|";}
18%{content: "Develope|";}   
20%{content: "Develop|";}
22%{content: "Develo|";}
24%{content: "Devel|";}
26%{content: "Deve|";}
28%{content: "Dev|";}
30%{content: "De|";}
32%{content: "D|";}
34%{content: "De|";}
36%{content: "Des|";}
38%{content: "Desi|";}
40%{content: "Desig|";}
42%{content: "Design|";}
44%{content: "Designe|";}
46%{content: "Designer|";}
48%{content: "Designe|";}
50%{content: "Design|";}
52%{content: "Desig|";}
54%{content: "Desi|";}
56%{content: "Des|";}
58%{content: "De|";}
60%{content: "D|";}
62%{content: "F|";}
64%{content: "Fr|";}
66%{content: "Fre|";}
68%{content: "Free|";}
70%{content: "Freel|";}
72%{content: "Freela|";}
74%{content: "Freelan|";}
76%{content: "Freelanc|";}
78%{content: "Freelance|";}
80%{content: "Freelancer|";}
82%{content: "Freelance|";}
84%{content: "Freelanc|";}
86%{content: "Freelan|";}
88%{content: "Freela|";}
90%{content: "Freel|";}
92%{content: "Free|";}
94%{content: "Fre|";}
96%{content: "Fr|";}
98%{content: "F|";}

}

#home .layer{
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 0;
    top: 0;
}
.icons{
    width: 2rem;
    height: 2rem;
    border: solid 1px rgba(255, 255, 255, 0.3);
    transition: all 0.5s;
}
.icons:hover{
    border:  solid 1px rgba(255, 255, 255,1);
}
nav .navbar-nav .nav-item .nav-link::after {
    content:" ";
    height:3px;
    width: 0%;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
    transition: all 0.5s;

}
nav .navbar-nav .nav-item:hover .nav-link::after{
   width: 70%; 
    
    
}

#about .container{
    box-shadow: 0 0 5px gray;
}
#about{
    background-color:#F5F5F5;
}
#about .progress-bar{
    background-color: #0078FF;
}
#about img{
    border-radius: 4px;
}
#about .line::after{
    content: " ";
    width: 20%;
    height: 5px;
    position: absolute;
    background-color: #0078FF;
    left: 0%;
    bottom: -10px;
}
#services .serv-par::after{
    content: " ";
    width: 2%;
    height: 5px;
    position: absolute;
    background-color: #0078FF;
    left: 49%;
    bottom:-20px;

}
#services{
    background-color: #F5F5F5;
}
#services .serv-content .content .serv-icon i{
    font-size: 500%;
    color: black;
    

    

}

#services .serv-content .content .serv-icon{
    width: 8rem;
    height:8rem;
    border: 8px solid #0078FF;
    text-align: center;
    margin-left:  100px;
}
#services .serv-content .content .serv-icon:hover{
    border-color: #CDE1F8;
    background-color: #0078FF;
}
#services .serv-content .content .serv-icon:hover i{
    background-color: #0078FF;
border-radius: 50%;
    
}
#services .item{
    border-radius: 10px;
}
#portfolio{
    background-color:#F5F5F5 ;
}
#portfolio .container .header-section::after{
    content: " ";
    width: 2%;
    height: 5px;
    position: absolute;
    background-color: #0078FF;
    left: 49%;
    bottom:-20px;

}
#portfolio .container .content-section img{
    width: 100%;
    transition: all 1s;
}
#portfolio .container .content-section img:hover{
    transform: scale(1.3);
}
#portfolio .container .layer{
    left: 0;
    right: 0;
}
#carousel {
    background-image: url('images/overlay-bg.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#carousel .carousel-content{
    background-color: rgba(0, 0, 255, 0.4);

}
.carousel-indicators [data-bs-target] {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
}
#blog {
    background-color:#F5F5F5 ;
}
#blog .section-header::after{
    content: " ";
    width: 2%;
    height: 5px;
    position: absolute;
    background-color: #0078FF;
    left: 49%;
    bottom:-20px;

}
#blog .container .layer .card-footer .icon img{
    width: 2rem;
    height: 2rem;
}
#blog .container .layer .card-footer .content{
    margin-right: 150px;
}
#blog .container .layer .bag{
    border:#0078FF solid 3px;
    border-radius: 4px;
    background-color: #0078FF;
    bottom: 80px;
    left: 35%;
    color: white;
}